<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Prospect</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
</head>
<body>
<header>
  <div class="header-panel">
    <a class="login-link" href="{% url 'login' %}">Войти / Регистрация</a>
  </div>
  <div class="header-logo">
    <img src="{% static 'img/logos/logo.png' %}" alt="logo.png">
  </div>
  <div class="header-pages">
    <a href="{% url 'home' %}">главная</a>
    <a href="{% url 'catalog' slug='all' page=1 %}">каталог</a>
    <a href="{% url 'about' %}">о нас</a>
  </div>
  <div class="header-cart">
    <
  </div>
</header>
{% block content %}{% endblock %}
<footer></footer>
</body>
</html>